@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root {
  --pc: #02817F;
  --secondary-color: rgb(220, 220, 223);
}

body {
  background: white;
}
.auth-input + label {
  top: 0;
  font-size: 12px;
  font-weight: 500;
  color: #555;
  transform: none;
}
.auth-input:placeholder-shown + label {
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
}
.auth-input:focus + label{
  top: 0;
  font-size: 12px;
  transform: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;
}
}