@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #006bac;
  --secondary-color: rgb(220, 220, 223);
}

body {
  background: white;
}

::selection {
  background: #007f7f;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;
}
}